<footer class="footer">
  <div class="container">
    <div class="footer-nav-wrap">
      <a class="footer-logo" href="./index.html" aria-label="Site logo">
        <svg width="60" height="56" class="logo-icon">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer-nav">
        <li><a class="legal-link" href="./privacy.html">Privacy Policy</a></li>
        <li>
          <a class="legal-link" href="./service.html">Terms of Service</a>
        </li>
      </ul>
      <a
        class="google-play-link footer-link"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.tile.triplematch.matching&hl=en"
      >
        <svg width="24" height="24" class="google-play-icon">
          <use href="./img/sprite.svg#icon-google-play"></use>
        </svg>
        <div>
          <p class="link-text-smole">Get it on</p>
          <p class="link-text-big">GOOGLE PLAY</p>
        </div>
      </a>
    </div>
    <p class="copy">&copy; 2026 motiona.it.com — All rights reserved.</p>
  </div>
</footer>
