<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
    <ul class="review-list">
      <li class="review-item">
        <img
          class="review-img"
          src="./img/reviews/sophia.jpg"
          srcset="./img/reviews/sophia.jpg 1x, ./img/reviews/sophia@2x.jpg 2x"
          alt="Photo of Sophia Carter"
          width="120"
          height="120"
          loading="lazy"
        />
        <div>
          <p class="review-text">Sophia Carter</p>
          <p>
            Fun, colorful, and surprisingly addictive. Perfect for relaxing
            after a busy day.
          </p>
        </div>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          src="./img/reviews/andrew.jpg"
          srcset="./img/reviews/andrew.jpg 1x, ./img/reviews/andrew@2x.jpg 2x"
          alt="Photo of Andrew Thompson"
          width="120"
          height="120"
          loading="lazy"
        />
        <div>
          <p class="review-text">Andrew Thompson</p>
          <p>
            Easy to learn, challenging to master. Great puzzle game with smooth
            gameplay.
          </p>
        </div>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          src="./img/reviews/olivia.jpg"
          srcset="./img/reviews/olivia.jpg 1x, ./img/reviews/olivia@2x.jpg 2x"
          alt="Photo of Olivia Bennett"
          width="120"
          height="120"
          loading="lazy"
        />
        <div>
          <p class="review-text">Olivia Bennett</p>
          <p>
            The 3D objects look amazing, and every level feels fresh and
            engaging.
          </p>
        </div>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          src="./img/reviews/max.jpg"
          srcset="./img/reviews/max.jpg 1x, ./img/reviews/max@2x.jpg 2x"
          alt="Photo of Max Richardson"
          width="120"
          height="120"
          loading="lazy"
        />
        <div>
          <p class="review-text">Max Richardson</p>
          <p>
            A relaxing puzzle experience with just the right amount of
            challenge. Highly recommended!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
