.contact {
  text-align: center;
}

.contact-desc {
  width: 250px;
  margin-bottom: 20px;
  text-align: left;
}

.contact-email {
  font-size: 20px;
  line-height: 1.12;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .contact-desc {
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
  }

  .contact-link {
    transition: color var(--transition-efect);
  }

  .contact-link:hover {
    color: var(--color-blue);
  }
}
