.contact {
  text-align: center;
}

.contact-desc {
  width: 250px;
  margin: 0 auto 20px;
}

.contact-email {
  font-size: 20px;
  line-height: 1.12;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .contact-desc {
    margin-bottom: 32px;
    width: 100%;
  }
}
