.gallery {
  background-color: var(--color-yellow);
}

.swiper-wrapper {
  padding-bottom: 40px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  background-color: #919097;
  width: 8px;
  height: 8px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-blue);
  width: 12px;
  height: 12px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .swiper-wrapper {
    padding-bottom: 45px;
  }

  .gallery .swiper {
    overflow: hidden;
    padding: 17px 0;
  }

  .gallery .swiper-wrapper {
    align-items: center;
  }

  .gallery .swiper-slide {
    transition: transform 0.4s ease;
    transform: scale(0.97);
  }

  .gallery .swiper-slide-active {
    transform: scale(1.07);
    z-index: 2;
  }

  .swiper-desck-buttons {
    display: block;
  }
}
