.play-desc {
  text-align: left;
  max-width: 235px;
  margin-right: auto;
  margin-right: auto;
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .play-desc {
    max-width: 100%;
    text-align: center;
  }

  .play-list {
    display: grid;
    grid-template-columns: repeat(2, 495px);
    column-gap: 80px;
    row-gap: 20px;
    justify-content: center;
  }

  .play-item {
    height: 64px;
  }
}
